*{
	margin: 0px;
}
body{
	background: black;
	font-family: helvetica;
}
header{
	background: white;
	margin-bottom: 48px;
}
header h2{
	width: 460px;
	margin: auto;
	padding: 15px;
}
.main{
	background: #eeeeee;
	width: 84%;
	margin: auto;
}
.post{
	margin: auto;
	width: 460px;
	padding-bottom: 48px;
}
.post-header{
	background: white;
	width: 428px;
	display: inline-block;
	padding: 11px;
}
.post-header h5{
	float: left;
}
.post-header span{
	float: right;
	font-size: 12px;
	color: #bbbbbb;
}
.post img{
	width: 450px;
	height: 302px;
	margin-top: -4px;
	margin-bottom: -4px;
}
.post p{
	background: white;
	font-size: 12px;
	padding: 13px;
	width: 424px;
}
.hashtag:before{
	content: " #BreatheCode";
}
